streamlit
pandas
plotly
python-dotenv
google-api-python-client
youtube-transcript-api
sqlalchemy
psycopg2-binary
psycopg2
numpy
nltk
textblob
scikit-learn
matplotlib
seaborn
# spacy
transformers
torch
alembic